<html>
<head></head>
<body>

<form class="form-signin" method="POST">
    <h2 class="form-signin-heading">Please Create Account</h2>
    <input type="email" class="form-control" placeholder="Email Address" name="username" required autofocus />
    <input type="password" class="form-control" placeholder="Password" name="password" required />
    <input type="text" class="form-control" placeholder="Age" name="age" required />
    <input type="text" class="form-control" placeholder="Gender" name="gender" required />
    <input type="text" class="form-control" placeholder="Occupation" name="occupation" required />
    <input type="text" class="form-control" placeholder="Zipcode" name="zipcode" required />
    <button type="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
</form>

</body>
</html>